$visual-grid: false;

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "font-awesome/font-awesome";
@import "refills/breadcrumb";
@import "refills/progress-bar";

@mixin prepend_icon($icon) {
  position: relative;
  &:before {
    @include icon($icon);
    position: absolute;
    @content;
  }
}

@mixin append_icon($icon) {
  position: relative;
  &:after {
    @include icon($icon);
    position: absolute;
    @content;
  }
}

@mixin icon($icon) {
  @include fa-icon;
  content: $icon;
}

body {
  @include media($medium-screen-up) {
    background: radial-gradient(circle farthest-corner at left top, white 0%, #cbcbcb 79%);
  }
}

#password-strength {
  display: none;
}

.logo {
  text-align: center;
  @include fill-parent;
  margin-left: auto;
  margin-right: auto;
  margin-top: $base-spacing;
  width: 200px;
  height: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(/images/#{$brand-name}/logo.png) no-repeat center center;
}

.breadcrumb {
  @include fill-parent;
  text-align: center;
  margin-top: $base-spacing;
  margin-bottom: 0;
}


.container, footer {
  @include outer-container;
  @include media($medium-screen-up) {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing * 2;
    border-radius: $base-border-radius * 2;
  }
}

.container {
  background-color: white;
  @include media($medium-screen-up) {
    padding: $base-spacing $base-spacing * 2;
  }
}

footer {
  color: $medium-gray;
  @include media($small-screen-only) {
    padding: $base-spacing;
  }
}

h1 {
  @include media($small-screen-only) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }
}

.spinner {
  color: $primary-color;
}

.dropdown {
  display: block;
  @include append_icon($fa-var-chevron-down) {
    pointer-events: none;
    right: $base-spacing / 2;
    top: $base-spacing / 2;
  }
}

button, input[type="submit"], .button {
  border-radius: $base-border-radius;
  background: $primary-color;
  border: 1px solid $dark-primary-color;
  box-shadow: 0px 2px 0px 0px $dark-primary-color;
  font-weight: $semibold;
  font-size: 18px;
  color: white;
  line-height: $base-line-height;
  white-space: normal;
  &.full {
    @include fill-parent;
    margin-top: $base-spacing;
  }
}

section {
  @include row;
}

section>p:last-child {
  margin-bottom: 0;
}

section.main:not(:first-child), #file-input-section section:first-child {
  margin-top: $base-spacing;
  border-top: 1px dashed $dark-primary-color;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

p.lead {
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.card {
  border: 1px solid $dark-primary-color;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing / 2;
  @include pad($base-spacing);
  @include media($small-screen-only) {
    margin-top: $base-spacing;
  }
}

ul {
  &.grid {
    li {
      a {
        line-height: $base-line-height * 1.3;
        font-weight: $bold;
      }
      @include media($medium-screen-up, block) {
        @include span-columns(3);
        @include omega(2n);
      }
    }
  }
}

.progress {
  background-color: purple;
  height: 2em;
  width: 0%;
}

.invalid {
  .label, legend, input[type="radio"]:checked ~ .value-label {
    color: $primary-error;
  }
  .input {
    display: block;
    @include append_icon($fa-var-times) {
      color: $primary-error;
      right: $base-spacing / 2;
      top: $base-spacing / 2;
    }
  }
  input[type="file"] {
    padding: $base-spacing / 4;
  }
  .dropdown:after {
    color: $primary-error;
  }
  input, select {
    color: $primary-error;
    border: 2px solid $primary-error;
    border-radius: $base-border-radius;
    &:hover {
      border-color: darken($primary-error, 10);
    }
  }
}

fieldset {
  p {
    @include media($medium-screen-up) {
      @include span-columns(1 of 3);
    }
  }
  &.invalid {
    border: 2px solid $primary-error;
  }
  &.valid {
    border: 1px solid $primary-success;
  }
}

.input {
  position: relative;
  display: block;
}

input[type="file"] {
  padding: $base-spacing / 4 0;
}

.input .spinner {
  right: $base-spacing / 2;
  top: $base-spacing / 2;
  position:absolute;
}

.valid {
  .label, legend, input[type="radio"]:checked ~ .value-label {
    color: $primary-success;
  }
  .input, .dropdown {
    display: block;
    @include append_icon($fa-var-check) {
      color: $primary-success;
      right: $base-spacing / 2;
      top: $base-spacing / 2;
    }
  }
  input[type="file"] {
    padding: $base-spacing / 4;
  }
  input[type="radio"]:checked ~ .value-label, input[type="checkbox"]:checked ~ .label {
    display: inline;
    @include append_icon($fa-var-check) {
      color: $primary-success;
      line-height: $base-line-height;
      margin-left: $base-spacing / 2;
    }
  }
  input, select {
    color: $primary-success;
    border: 1px solid $primary-success;
    border-radius: $base-border-radius;
    &:hover {
      border-color: darken($primary-success, 10);
    }
  }
  .file-list {
    color: $primary-success;
    font-weight: $regular;
  }
}

.flash {
  @include fill-parent;
  display: block;
  display: none;
  margin-top: $base-spacing;
  margin-bottom: 0;
  text-align: center;
  font-weight: $semibold;
  background-color: $light-gray;
  padding: $base-spacing / 2;
  border-radius: $base-border-radius;
}

.help {
  @include fill-parent;
  display: block;
  margin-bottom: $base-spacing / 2;
  font-weight: $regular;
}

button.read-more {
  @include fill-parent;
  margin: 0;
  margin-top: -$base-spacing * 2;
  background-color: transparent;
  color: $base-font-color;
  border: none;
  box-shadow: none;
  background: linear-gradient(to top, hsla(0, 0%, 100%, 1) 1%, hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 100%);
  fieldset & {
    background: linear-gradient(to top, $almost-white 1%, $almost-white 10%, hsla(0, 0%, 100%, 0) 100%);
  }
  font-size: $base-font-size;
  padding: $base-spacing 0 0 0;
  transition: margin-top 400ms;
}

button.read-more:hover {
  margin-top: -$base-spacing * 1.5;
  color: $primary-color;
}

button.read-more:active {
  outline: none;
}

.help[aria-expanded="false"] {
  background: linear-gradient(to top, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
}

.validation-message {
  margin-top: 0;
  margin-bottom: $base-spacing / 2;
}

.processing {
  margin-top: 0;
}

.flash.success {
  background-color: $primary-success;
  color: white;
}

.flash.error {
  background-color: $primary-error;
  color: white;
}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: $almost-white;
  width: 218px;
  border-radius: $base-border-radius;
  border: $base-border;
  max-height: 350px;
  overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
  border-top: $base-border;
  display: block;
  padding: $base-spacing / 4 $base-spacing / 2;
  cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: $primary-color;
  color: white;
}

ol {
  @extend %default-ol
}
