$brand-name: "axiory-europe-plain";

// Brand Colors
$primary-color: #142E7E;
$dark-primary-color: #161D3B;
$almost-white: #fbfbfb;
$almost-black: #282828;
$primary-success: #199123;
$dark-success: #1e4d22;
$primary-error: #911919;
$dark-error: #4c1e1e;

@import "main";

.logo {
	display: none;
}
