$brand-name: "axiory-global";

// Brand Colors
$primary-color: #7d1991;
$dark-primary-color: #391e4c;
$almost-white: #fbfbfb;
$almost-black: #282828;
$primary-success: #199123;
$dark-success: #1e4d22;
$primary-error: #911919;
$dark-error: #4c1e1e;

@import "main";
