$brand-name: "pivot";

// Brand Colors
$primary-color: #2478B8;
$dark-primary-color: #54A278;
$almost-white: #fbfbfb;
$almost-black: #282828;
$primary-success: #199123;
$dark-success: #1e4d22;
$primary-error: #911919;
$dark-error: #4c1e1e;

@import "main";

body {
	background: #fff;
}
