include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("demo.result.title") + " / " + brand.name

block page-content
  - var texts = t("demo.result", {returnObjectTrees: true})
  section.main
    h1!= texts.title
    p.lead!= t("demo.result.lead", brand)

  section.main
    h2!= texts.steps.title
    ol
      li!= t("demo.result.steps.download", brand)
      if brand.mt4DownloadUrlOSX
        li!= t("demo.result.steps.downloadMac", brand)
      li!= t("demo.result.steps.accountNo", account)
      li!= texts.steps.password
      li!= t("demo.result.steps.server", brand)
      li!= texts.steps.trade

