include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("demo.title") + " / " + brand.name

block page-content
  - var texts = t("demo", {returnObjectTrees: true})
  - var messagesTexts = t("messages", {returnObjectTrees: true})
  +flash(messagesTexts.processing, "processing", "processing")
  form.step(action="/demo/open", method="POST")
    section.main
      h1!= texts.title
      p.lead!= texts.lead

    if brand.languages && brand.languages.length > 1
      section.main
        h2!= t("steps.intro.languageSection.title")
        - var lng = i18n.lng().substring(0,2)

        +select("language", brand.languages, undefined, lng, undefined, undefined, true)

    section.main
      h2!= texts.tradingSection.title
      p!= texts.tradingSection.text

      if brand.fields && brand.fields.demoAccountTypes && brand.fields.demoAccountTypes.length > 0
        +select("accountType", brand.fields.demoAccountTypes, undefined, undefined, undefined, undefined, true)(required)

      if brand.fields.leverages.length > 0
        +select("leverage", brand.fields.leverages, undefined, brand.fields.defaultLeverage)(required)
      else
        input(name="leverage" type="hidden" value=brand.fields.defaultLeverage)

      +select("currency", brand.fields.currencies)(required)

      +input("deposit", "number", "number")(required, value=10000, min=1000, max=10000000, step=1000)

    section.main
      h2!= texts.securitySection.title
      p!= texts.tradingSection.text

      if brand.fields.platform.length <= 1
        input(name="platform" type="hidden" value=brand.fields.platform[0])

      //- TODO add options to select from multiple platforms

      if (brand.fields.platform.length <= 1) && (brand.fields.platform[0] === 'mt4')
        script(src='/scripts/lib/zxcvbn-async.js')
        +input("masterPassword", "password", "password")(required, maxlength=15)
        .progress-bar#password-strength
          span.meter
        +input("masterPasswordRepeat", "password")(required)

    section.main
      h2!= t("steps.intro.contactInformationSection.title")
      +input("fullName", "text", "fullname")(required)
      +input("phone", "tel", "phone")(required)
      +input("email", "email", "email")(required)

      +input("iAgreeDemo", "checkbox")(class="main" required)

    section.main
      +flash(messagesTexts.error, "error", "error")(class="submit-message")
      input(type="submit" value=texts.submit).main-action.full
