include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("steps.done.title") + " / " + brand.name

block page-content
  - var stepTexts = t("steps.done", {returnObjectTrees: true})
  section.main
    h1!= stepTexts.title
    p.lead!= t("steps.done.lead", {"companyName": brand.name})

  section.main
    h2!= stepTexts.whatsNext.title
    p!= stepTexts.whatsNext.text

  if !isPlain
    section.main
      h2!= stepTexts.contactUs.title
      p!= t("steps.done.contactUs.text", {"email": brand.email, "contactPage": brand.contactPage})
