extends ./templates/step-layout.jade

block title
  title!= t("steps.files.title") + " / " + brand.name

block step-content
  - var stepTexts = t("steps.files", {returnObjectTrees: true})
  form.step(action="/submit/"+id, method="POST", data-fileUploadUrl="/submit/"+id+"/file")
    section.main
      h1!= stepTexts.title
      p.lead!= stepTexts.lead
      input(name="step" type="hidden" value="files")
      +radio("addFiles", ["now", "later"], {"now": "file-input-section"}, "now")(required)
    #file-input-section
      section.main
        h2!= stepTexts.proofOfIdentity.title
        p.help!= stepTexts.proofOfIdentity.help

        +input("proofOfIdentity", "file")("data-required"="required")
        +input("proofOfIdentityBack", "file")

      section.main
        h2!= stepTexts.proofOfResidence.title
        p.help!= stepTexts.proofOfResidence.help

        +input("proofOfAddress", "file")("data-required"="required")

      section.main
        h2!= stepTexts.creditCard.title
        p.help!= stepTexts.creditCard.help

        +input("creditCard", "file")
        +input("creditCardBack", "file")

    section.main
      +flash(messagesTexts.error, "error", "error")(class="submit-message")
      input(type="submit", value=stepTexts.submit).main-action.full
