include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("steps.intro.title") + " / " + brand.name

block page-content
  - var stepTexts = t("steps.intro", {returnObjectTrees: true})
  - var messagesTexts = t("messages", {returnObjectTrees: true})
  +flash(messagesTexts.processing, "processing", "processing")
  form.step(action="/submit", method="POST")
    section.main
      h1!= stepTexts.title
      p.lead!= stepTexts.lead

    if brand.languages && brand.languages.length > 1
      section.main
        h2!= stepTexts.languageSection.title
        - var lng = i18n.lng().substring(0,2)

        +select("language", brand.languages, undefined, lng, undefined, undefined, true)
    //-
      section.main
        h2 What You’ll Need
        p
          | Get the following items ready to make sure you can complete the application. You’ll get detailed instructions later on. For now, just make sure you have these ready.
        ul.grid
          li.card
              h3 Personal ID
              p You will need a scan of both sides of your ID document.
          li.card
              h3 Proof of Address
              p Any official document that proofs your address. It can be a utility bill or bank statement.

    section.main
      - var agreedWith = ""
      h2!= stepTexts.agreementsSection.title
      p!= stepTexts.agreementsSection.text
      input(name="step" type="hidden" value="intro")
      section.card
        ul.grid
          each url, key in brand.agreements
            - agreedWith += t("steps.intro.agreementsSection."+key, {lng: 'en'}) + ', '
            li
              a.agreement(target="_blank" href=url, title=stepTexts.agreementsSection[key])!= stepTexts.agreementsSection[key]

          - agreedWith = agreedWith.slice(0, -2)
      +input("iAgree", "checkbox")(class="main" required)

    section.main
      h2!= stepTexts.contactInformationSection.title
      +input("fullName", "text", "fullname")(required)
      +input("email", "email", "email")(required)
      +input("phone", "tel", "phone")(required)
      if brand.fields.showPartnerCode
        +input("ibCode", "text")
      else
        input#ibCode(name="ibCode" type="hidden")

      input#agreedWith(name="agreedWith" type="hidden" value=agreedWith)

    section.main
      +flash(messagesTexts.error, "error", "error")(class="submit-message")
      input(type="submit" value=stepTexts.submit).main-action.full
