extends ./templates/step-layout.jade

block title
  title!= t("steps.investment-questionaire.title") + " / " + brand.name

block step-content
  - var stepTexts = t("steps.investment-questionaire", {returnObjectTrees: true})
  form.step(action="/submit/"+id, method="POST")
    section.main
      h1!= stepTexts.title
      p.lead!= stepTexts.lead

    section.main
      h2!= stepTexts.financialProfile
      input(name="step" type="hidden" value="investment-questionaire")
      +select("education", ['none', 'university', 'secondary'])(required)

      +select("employmentStatus", ['student', 'employed', 'self-employed', 'unemployed', 'retired'],  {'employed': 'employment-details', 'self-employed': 'employment-details'})(required)
      section#employment-details
        h3!= stepTexts.employmentDetails.title
        p.no-script!= stepTexts.employmentDetails.noscriptText
        +select("industry", ['accounting', 'administration', 'agriculture', 'construction-real-estate', 'engineering', 'financial-services', 'insurance', 'it-telecomunications', 'manufacturing', 'retail', 'transportation', 'utilities', 'other'])("data-required"="required")
        +input("jobTitle")("data-required"="required")

      +radio("financialSectorEmployment", ['no', 'yes'], {'yes': 'financial-sector-employment-details'})(required)
      section#financial-sector-employment-details
        h3!= stepTexts.financialSectorEmploymentDetails.title
        +input("financialEmployer")("data-required"="required")
        +input("financialPosition")("data-required"="required")

      +select("annualIncome", ["under-50k-eur", "50k-100k-eur", "100k-200k-eur", "200k-300k-eur", "300k-500k-eur", "above-500k-eur"])(required)
      //- +select("annual-turnover", ["under-40mln-eur", "above-40mln-eur"]) Čeká na vyjádření chrise
      +select("netWorth", ["under-50k-eur", "50k-100k-eur", "100k-200k-eur", "200k-300k-eur", "300k-500k-eur", "500k-2mln-eur", "above-2mln-eur"])(required)
      //-+input("net-worth", ["under-2mln-eur", "above-2mln-eur"]) Čeká na vyjádření chrise

    section.main
      h2!= stepTexts.yourExperience
      if !brand.simpleAml
        +radio("portfolioSize", ["under-500k-eur", "above-500k-eur"])(required)
      +select("generalInvestmentObjective", ["capital-maintenance", "fixed-income", "capital-gain", "fixed-income-and-capital-gain", "speculation"])(required)
      +select("investingExperience", ["none", "limited", "fair", "excellent"])(required)

      +radio("tradingExperience", ["no", "yes"], {"yes": "trading-experience-details"})(required)
      section#trading-experience-details
        h3!= stepTexts.specificInstrumentsExperience
        +select("forexExperience", ["0-6-months", "6-12-months", "1-3-years", "3-5-years", "5-10-years", "above-10-years"])("data-required"="required")
        +select("indiciesExperience", ["0-6-months", "6-12-months", "1-3-years", "3-5-years", "5-10-years", "above-10-years"])("data-required"="required")
        +select("comoditiesExperience", ["0-6-months", "6-12-months", "1-3-years", "3-5-years", "5-10-years", "above-10-years"])("data-required"="required")
        +select("otherInstrumentsExperience", ["0-6-months", "6-12-months", "1-3-years", "3-5-years", "5-10-years", "above-10-years"])("data-required"="required")

    if !brand.simpleAml
      section.main
        h2!= stepTexts.intendedInvestment
        +select("investmentPourpose", ["hedging", "speculation", "investment", "other"])(required)
        +select("investmentPeriod", ["0-6-months", "6-12-months", "1-3-years", "3-5-years", "5-10-years", "above-10-years"])(required)
        +select("investmentAmount", ["under-10k-eur", "10k-50k-eur", "50k-500k-eur", "500k-1mln-eur", "above-1mln-eur"])(required)
        +select("fundsOrigin", ["savings", "income", "pension", "inheritance", "financial-markets-earnings", "other"])(required)
        +select("acceptedRisk", ["low", "medium", "high"])(required)

    section.main
      +flash(messagesTexts.error, "error", "error")(class="submit-message")
      input(type="submit" value=stepTexts.submit).main-action.full
