include ./mixins/all.jade

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/lib/normalize.css')
    link(rel='stylesheet', href='/stylesheets/lib/jquery.ui.css')
    link(rel='stylesheet', href="/stylesheets/main.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic&subset=latin,latin-ext')
    title!= t("errorsPages.serverError.title")

  body
    block body
      .container
        - var texts = t("errorsPages.serverError", {returnObjectTrees: true})
        section.main
          h1!= texts.title
          p.lead!= texts.message

    script(src='/scripts/all.js')


