include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("errorsPages.notAllowed.title") + " / " + brand.name

block page-content
  - var texts = t("errorsPages.notAllowed", {returnObjectTrees: true})
  section.main
    h1!= texts.title
    p.lead!= texts[message]

  section.main
    h2!= texts.whatNow.title
    p!= t("errorsPages.notAllowed.whatNow.text", {"companyName": brand.name, "registrationUrl": brand.alternative.registrationUrl, "alternativeCompanyUrl": brand.alternative.url, "alternativeCompanyName": brand.alternative.name})
