include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("errorsPages.notFound.title") + " / " + brand.name

block page-content
  - var texts = t("errorsPages.notFound", {returnObjectTrees: true})
  section.main
    h1!= texts.title
    p.lead!= texts.message
