extends ./templates/step-layout.jade

block title
  title!= t("steps.personal-details.title") + " / " + brand.name

block step-content
  - var stepTexts = t("steps.personal-details", {returnObjectTrees: true})
  form.step(action="/submit/"+id, method="POST")
    section.main
      h1!= stepTexts.title
      p.lead!= stepTexts.lead

    section.main
      h2!= stepTexts.personalInformation
      input(name="step" type="hidden" value="personal-details")
      +radio("gender", ['male', 'female'])(required)
      fieldset
        legend!= stepTexts.dateOfBirth
        +input("dayOfBirth", "number")(required, maxlength=2, min=1, max=31)
        +select("monthOfBirth", [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])(required)
        - var thisYear = new Date().getFullYear()
        +input("yearOfBirth", "number")(required, maxlength=4, min=1900, max=thisYear-18)
      +input("cityOfBirth")(required)
      +select("nationality", "countries")(required, class="select-to-autocomplete")
      if brand.fields.showIdNumber
        +input("idNumber")(required)

    section.main
      h2!= stepTexts.residentAddress
      +input("street")(required)
      +input("city")(required)
      +input("postalCode")(required)
      +select("country", "countries")(required, class="select-to-autocomplete")

    section.main
      h2!= stepTexts.compliance
      +radio("politicalExposure", ["no", "yes"], {}, "no")(required)
      +radio("usReportable", ["no", "yes"], {'yes': 'fatca-details'}, "no")(required)

      section#fatca-details
        h3!= stepTexts.fatcaDetails
        +radio("usResidentOrCitizen", ["citizen", "resident", "neither"])("data-required"="required")
        +select("usStateOfBirth", ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","District of Columbia","Puerto Rico","Guam","American Samoa","U.S. Virgin Islands","Northern Mariana Islands"]) //převést na select
        +input("usAddress")
        +input("usPhone")
        +input("usTransferDetails")
        +input("usPoaDetails")
        +input("usHoldMailAddress")
        +input("usTin")

    section.main
      +flash(messagesTexts.error, "error", "error")(class="submit-message")
      input(type="submit" value=stepTexts.submit).main-action.full
