include ./mixins/all.jade
extends ./templates/layout.jade

block title
  title!= t("errorsPages.serverError.title") + " / " + brand.name

block page-content
  - var texts = t("errorsPages.serverError", {returnObjectTrees: true})
  section.main
    h1!= texts.title
    p.lead!= texts.message

  section.main
    h2!= texts.whatNow.title
    p!= t("errorsPages.serverError.whatNow.text", brand)
