extends ./templates/step-layout.jade

block title
  title!= t("steps.trading-account-details.title") + " / " + brand.name

block step-content
  - var stepTexts = t("steps.trading-account-details", {returnObjectTrees: true})
  form.step(action="/submit/"+id, method="POST")
    section.main
      h1!= stepTexts.title
      p.lead!= stepTexts.lead

    section.main
      h2!= stepTexts.basicSettings
      input(name="step" type="hidden" value="trading-account-details")

      if brand.fields.leverages.length > 0
        +select("leverage", brand.fields.leverages, undefined, brand.fields.defaultLeverage)(required)
      else
        input(name="leverage" type="hidden" value=brand.fields.defaultLeverage)

      if brand.fields.platform.length <= 1
        input(name="platform" type="hidden" value=brand.fields.platform[0])
      //- TODO add options to select from multiple platforms

      if (brand.fields.platform.length <= 1) && (brand.fields.platform[0] === 'mt4')
        script(src='/scripts/lib/zxcvbn-async.js')
        +input("mt4Password", "password", "password")(required, maxlength=15)
        .progress-bar#password-strength
          span.meter
        +input("mt4PasswordRepeat", "password")(required)

      if multitraders.length > 0
        +radio("tradingStyle", ["self-trading", "multitrading"], {"self-trading": "self-trading-details", "multitrading": "multitrading-details"}, "self-trading")(required)

      section#self-trading-details
        h2!= stepTexts.accountSettings.title
        p.no-script!= stepTexts.accountSettings.noscriptText

        if brand.fields && brand.fields.accountTypes && brand.fields.accountTypes.length > 0
          +select("accountType", brand.fields.accountTypes, undefined, undefined, undefined, undefined, true)("data-required"="required")

        +select("currency", brand.fields.currencies)("data-required"="required")

      if multitraders.length > 0
        section#multitrading-details
          h2!= stepTexts.multitraderDetails.title
          p.no-script!= stepTexts.multitraderDetails.noscriptText

          +select("multitrader", multitraders)("data-required"="required")

    section.main
      +flash(messagesTexts.error, "error", "error")(class="submit-message")
      input(type="submit" value=stepTexts.submit).main-action.full
