.breadcrumb { 
  $breadcrumb-border-color: $base-border-color;
  $breadcrumb-border: 1px solid $breadcrumb-border-color;
  $breadcrumb-height: $base-spacing * 1.5;
  $breadcrumb-arrow-color: $breadcrumb-border-color;
  $breadcrumb-background: $base-background-color;
  $breadcrumb-inactive-hover-color: $breadcrumb-background;
  $breadcrumb-color: $medium-gray;
  $breadcrumb-color-hover: $base-accent-color;
  $breadcrumb-color-active: $breadcrumb-color;

  display: inline-block;
  text-align: left;
  margin-bottom: $base-spacing;

  a, span {
    display: inline-block;
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    color: $breadcrumb-color;
    line-height: $breadcrumb-height;
    //margin-right: -5px;
    font-size: .8em;
    padding: 0 $breadcrumb-height/4 0 $breadcrumb-height/2;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px;

    &.active {
      color: $dark-primary-color;
      font-weight: $semibold;
    }

    &:first-child {
      padding-left: $breadcrumb-height/2;
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      //color: $breadcrumb-color-active;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      padding-right: $breadcrumb-height/2;
    }

    &:after,
    &:before {
      @include position(absolute, 0px auto 0px 100%);
      border-bottom: $breadcrumb-height/2 solid transparent;
      border-left: $breadcrumb-height/4 solid transparent;
      border-top: $breadcrumb-height/2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
       border: none;
    }

    &:before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }
    &:after {
      border-left-color: $breadcrumb-background;
    }

    @include media($medium-screen) {
      font-size: 1em;
      padding: 0 $breadcrumb-height/2 0 $breadcrumb-height/1.5;
    }
  }
}

