.progress-bar {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  -webkit-font-smoothing: antialiased;

  p {
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $base-accent-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: $almost-white;
  $progress-animation-duration: 0.7s;
  $progress-color: white;

  background-color: $progress-background;
  border-radius: $base-border-radius;
  border: $progress-border;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  margin: 0 auto $base-spacing / 2 auto;
  width: 100%;
  height: 0.5em;

  > span.meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border-radius: $base-border-radius /1.5;
    display: block;
    height: 100%;
    width: 0%;
  }

  p {
    color: $progress-color;    
    font-weight: 800;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px black;
  }

  &.error span.meter{
    background-color: $primary-error;
  }

  &.warn span.meter {
    background-color: $primary-warning;
  }

  &.success span.meter {
    background-color: $primary-success;
  }
}
