html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon' type='image/x-icon' href="/images/#{brand.id}/favicon.ico")
    block title
      title!= brand.title
    block stylesheets
      include ../parts/stylesheets.jade

  body
    .logo!= brand.name

    block body
      .container
        block page-content

    block scripts
      include ../parts/scripts.jade

    if brand.license && brand.license.regulator
      footer!=t("helpers.disclaimer", brand) + t("helpers.regulation", brand)
    else
      footer!=t("helpers.disclaimer", brand)
