include ../mixins/all.jade

extends ./layout.jade

block title
  title!= brand.title

block body
  +steps(step)

  .container
    - var messagesTexts = t("messages", {returnObjectTrees: true})
    +flash(messagesTexts.processing, "processing", "processing")
    block step-content