fieldset {
  background: $almost-white;
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing / 2 $base-spacing;
  border-radius: $form-border-radius;
}

fieldset > legend {
  font-weight: $semibold;
}

input,
label,
select,
legend,
.label {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

input, select {
  font-weight: $regular;
}

label,
.label {
  font-weight: $semibold;
  margin-bottom: $base-spacing / 4;

  //&.required:after {
  //  content: "*";
  //}

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="checkbox"] ~ .label{
  display: inline;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  @include appearance(none);
  max-width: 100%;
  box-shadow: none;
  background-color: $almost-white;
  box-shadow: 0px 2px 0px 0px $form-border-color;
  &:hover {
    background-color: lighten($almost-white, 10);
  }
}
