@import "../neat/neat-helpers"; //when not in Rails

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 4;
$max-width: em(640);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$small-screen-only: new-breakpoint(max-width ($medium-screen - 0.01) 6);
$medium-screen-up: new-breakpoint(min-width $medium-screen 6);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
