// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: 'Source Sans Pro';
$header-font-family: $base-font-family;
$bold: 700;
$semibold: 600;
$regular: 400;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 1.476;
$h2-font-size: $base-font-size * 1.139;
$h3-font-size: $base-font-size * 1.067;
$h4-font-size: $base-font-size;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.383;
$header-line-height: 1.383;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Brand Colors
$primary-color: #7D1991 !default;
$dark-primary-color: #391E4C !default;
$almost-white: #FBFBFB !default;
$almost-black: #282828 !default;
$primary-success: #199123 !default;
$dark-success: #1E4D22 !default;
$primary-error: #911919 !default;
$dark-error: #4C1E1E !default;
$primary-warning: #919119 !default;
$dark-warning: #4D4D1E !default;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $primary-color;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $primary-color;
$hover-button-color: darken($primary-color, 10);

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
