mixin input(name, type, pattern, requiredValidations, maxlength, textBase)
  - type = type || "text"
  - maxlength = maxlength || 255
  - textBase = textBase || t("fields." + name, {returnObjectTrees: true})
  - var genericValidationBase = t("validation", {returnObjectTrees: true})
  - var validationBase =  textBase.validation || {}
  - requiredValidations = requiredValidations || ['empty', 'incorrect', 'long']
  - defaultValue = textBase.default

  - var patterns = { number: "[0-9]", password: "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z0-9,.\\-_!?\\/]{8,15}$", phone: "^\\+(?:[0-9][ -]?){6,14}[0-9]$", fullname: "^(?:[\\u00c0-\\u01ffa-zA-Z'-.]){2,}(?:\\s[\\u00c0-\\u01ffa-zA-Z'-.]{2,})+$", email: "^([^\\x00-\\x20\\x22\\x28\\x29\\x2c\\x2e\\x3a-\\x3c\\x3e\\x40\\x5b-\\x5d\\x7f-\\xff]+|\\x22([^\\x0d\\x22\\x5c\\x80-\\xff]|\\x5c[\\x00-\\x7f])*\\x22)(\\x2e([^\\x00-\\x20\\x22\\x28\\x29\\x2c\\x2e\\x3a-\\x3c\\x3e\\x40\\x5b-\\x5d\\x7f-\\xff]+|\\x22([^\\x0d\\x22\\x5c\\x80-\\xff]|\\x5c[\\x00-\\x7f])*\\x22))*\\x40([^\\x00-\\x20\\x22\\x28\\x29\\x2c\\x2e\\x3a-\\x3c\\x3e\\x40\\x5b-\\x5d\\x7f-\\xff]+|\\x5b([^\\x0d\\x5b-\\x5d\\x80-\\xff]|\\x5c[\\x00-\\x7f])*\\x5d)(\\x2e([^\\x00-\\x20\\x22\\x28\\x29\\x2c\\x2e\\x3a-\\x3c\\x3e\\x40\\x5b-\\x5d\\x7f-\\xff]+|\\x5b([^\\x0d\\x5b-\\x5d\\x80-\\xff]|\\x5c[\\x00-\\x7f])*\\x5d))*$"}
  if pattern
    - pattern =  patterns[pattern]

  if type === "file"
    - var acceptedFiles = "image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
    - requiredValidations = requiredValidations.concat(['failed', 'unfinished'])

  each requiredValidation in requiredValidations
    - validationBase[requiredValidation] = validationBase[requiredValidation] || genericValidationBase[requiredValidation]

  if type === "checkbox"
    p
      label(for=name)
        each validationText, validationName in validationBase
          +flash(validationText, "error")(class="validation-message #{validationName}")
        span
          input(id=name, accept=acceptedFiles, type=type, name=name, maxlength=maxlength, placeholder=textBase.placeholder||undefined, pattern=pattern, title=textBase.help||undefined)&attributes(attributes)
          span.label!= textBase.label
  else
    p
      label(for=name)
        span.label!= textBase.label
        if textBase.help
          span.help!= textBase.help
        each validationText, validationName in validationBase
          +flash(validationText, "error")(class="validation-message #{validationName}")
        span.input
          input(id=name, value=defaultValue accept=acceptedFiles, type=type, name=name, maxlength=maxlength, placeholder=textBase.placeholder||undefined, pattern=pattern, title=textBase.help||undefined)&attributes(attributes)
