mixin radio(name, values, triggerValues, defaultValue, requiredValidations, textBase)
  - textBase = textBase || t("fields." + name, {returnObjectTrees: true}) 
  - triggerValues = triggerValues || {}  
  
  - var genericValidationBase = t("validation", {returnObjectTrees: true})
  - var validationBase =  textBase.validation || {}
  - requiredValidations = requiredValidations || ['empty', 'incorrect', 'long']

  each requiredValidation in requiredValidations
    - validationBase[requiredValidation] = validationBase[requiredValidation] || genericValidationBase[requiredValidation]

  fieldset(id=name)
    legend!= textBase.label
    if textBase.help
      span.help!= textBase.help
    each validationText, validationName in validationBase
      +flash(validationText, "error")(class="validation-message #{validationName}")
    ul
      each value, index in values
        li
          label(for="#{name}-#{index+1}")
            - var valueName = textBase.values ? t("fields."+name+".values."+value, {lng: 'en'}) : value
            - var isDefault = value === defaultValue ? "checked" : undefined
            input(id="#{name}-#{index+1}", type="radio", name=name, title=textBase.help||undefined, value=valueName, data-trigger-details=triggerValues[value], checked=isDefault)&attributes(attributes)
            span.value-label!= textBase.values ? textBase.values[value] : value