mixin select(name, values, triggerValues, defaultValue, requiredValidations, textBase, keepValue)
  - textBase = textBase || t("fields." + name, {returnObjectTrees: true})
  - triggerValues = triggerValues || {}
  - var genericValidationBase = t("validation", {returnObjectTrees: true})
  - var validationBase =  textBase.validation || {}
  - requiredValidations = requiredValidations || ['empty']

  each requiredValidation in requiredValidations
    - validationBase[requiredValidation] = validationBase[requiredValidation] || genericValidationBase[requiredValidation]

  p
    label(for=name)
      span.label!= textBase.label
      if textBase.help
        span.help!= textBase.help
      each validationText, validationName in validationBase
        +flash(validationText, "error")(class="validation-message #{validationName}")
      span.dropdown
        - var placeholder = values==='countries'?textBase.placeholder:undefined
        - firstOption = textBase.placeholder || t("helpers.please-select")
        select(id=name, name=name, title=textBase.help||undefined, placeholder=placeholder)&attributes(attributes)
          if defaultValue
            - var valueName = textBase.values && !keepValue ? t("fields."+name+".values."+defaultValue, {lng: 'en'}) : defaultValue
            option(value=valueName, data-trigger-details=triggerValues[defaultValue])!= textBase.values ? textBase.values[defaultValue] : defaultValue
          else
            option(value="")!= firstOption
          if values === 'countries'
            include ../parts/countries.jade
          else
            each value in values
              if value !== defaultValue
                - var valueName = textBase.values && !keepValue ? t("fields."+name+".values."+value, {lng: 'en'}) : value
                option(value=valueName, data-trigger-details=triggerValues[value])!= textBase.values ? textBase.values[value] : value
