mixin steps(activePage)
  .breadcrumb
    span(class=activePage==="personal-details"?"active":undefined)!= t('steps.personal-details.stepTitle')
    span(class=activePage==="investment-questionaire"?"active":undefined)!= t('steps.investment-questionaire.stepTitle')
    span(class=activePage==="files"?"active":undefined)!= t('steps.files.stepTitle')
    span(class=activePage==="trading-account-details"?"active":undefined)!= t('steps.trading-account-details.stepTitle')