option(value="Afghanistan" data-alternative-spellings="AF افغانستان") Afghanistan (افغانستان)
option(value="Åland Islands" data-alternative-spellings="AX Aaland Aland" data-relevancy-booster="0.5") Åland Islands
option(value="Albania" data-alternative-spellings="AL") Albania
option(value="Algeria" data-alternative-spellings="DZ الجزائر") Algeria (الجزائر)
option(value="American Samoa" data-alternative-spellings="AS" data-relevancy-booster="0.5") American Samoa
option(value="Andorra" data-alternative-spellings="AD" data-relevancy-booster="0.5") Andorra
option(value="Angola" data-alternative-spellings="AO") Angola
option(value="Anguilla" data-alternative-spellings="AI" data-relevancy-booster="0.5") Anguilla
option(value="Antarctica" data-alternative-spellings="AQ" data-relevancy-booster="0.5") Antarctica
option(value="Antigua And Barbuda" data-alternative-spellings="AG" data-relevancy-booster="0.5") Antigua And Barbuda
option(value="Argentina" data-alternative-spellings="AR") Argentina
option(value="Armenia" data-alternative-spellings="AM Հայաստան") Armenia (Հայաստան)
option(value="Aruba" data-alternative-spellings="AW" data-relevancy-booster="0.5") Aruba
option(value="Australia" data-alternative-spellings="AU" data-relevancy-booster="1.5") Australia
option(value="Austria" data-alternative-spellings="AT Österreich Osterreich Oesterreich ") Austria (Österreich)
option(value="Azerbaijan" data-alternative-spellings="AZ") Azerbaijan
option(value="Bahamas" data-alternative-spellings="BS") Bahamas
option(value="Bahrain" data-alternative-spellings="BH البحرين") Bahrain (البحرين)
option(value="Bangladesh" data-alternative-spellings="BD বাংলাদেশ" data-relevancy-booster="2") Bangladesh (বাংলাদেশ)
option(value="Barbados" data-alternative-spellings="BB") Barbados
option(value="Belarus" data-alternative-spellings="BY Беларусь") Belarus (Беларусь)
option(value="Belgium" data-alternative-spellings="BE België Belgie Belgien Belgique" data-relevancy-booster="1.5") Belgium (België)
option(value="Belize" data-alternative-spellings="BZ") Belize
option(value="Benin" data-alternative-spellings="BJ") Benin
option(value="Bermuda" data-alternative-spellings="BM" data-relevancy-booster="0.5") Bermuda
option(value="Bhutan" data-alternative-spellings="BT भूटान") Bhutan (भूटान)
option(value="Bolivia" data-alternative-spellings="BO") Bolivia
option(value="Bonaire, Sint Eustatius and Saba" data-alternative-spellings="BQ") Bonaire, Sint Eustatius and Saba
option(value="Bosnia and Herzegovina" data-alternative-spellings="BA BiH Bosna i Hercegovina Босна и Херцеговина") Bosnia and Herzegovina (Босна и Херцеговина)
option(value="Botswana" data-alternative-spellings="BW") Botswana
option(value="Bouvet Island" data-alternative-spellings="BV") Bouvet Island
option(value="Brazil" data-alternative-spellings="BR Brasil" data-relevancy-booster="2") Brazil
option(value="British Indian Ocean Territory" data-alternative-spellings="IO") British Indian Ocean Territory
option(value="Brunei Darussalam" data-alternative-spellings="BN") Brunei Darussalam
option(value="Bulgaria" data-alternative-spellings="BG България") Bulgaria (България)
option(value="Burkina Faso" data-alternative-spellings="BF") Burkina Faso
option(value="Burundi" data-alternative-spellings="BI") Burundi
option(value="Cambodia" data-alternative-spellings="KH កម្ពុជា") Cambodia (កម្ពុជា)
option(value="Cameroon" data-alternative-spellings="CM") Cameroon
option(value="Canada" data-alternative-spellings="CA" data-relevancy-booster="2") Canada
option(value="Cape Verde" data-alternative-spellings="CV Cabo") Cape Verde (Cabo)
option(value="Cayman Islands" data-alternative-spellings="KY" data-relevancy-booster="0.5") Cayman Islands
option(value="Central African Republic" data-alternative-spellings="CF") Central African Republic
option(value="Chad" data-alternative-spellings="TD تشاد‎ Tchad") Chad (تشاد‎, Tchad)
option(value="Chile" data-alternative-spellings="CL") Chile
option(value="China" data-relevancy-booster="3.5" data-alternative-spellings="CN Zhongguo Zhonghua Peoples Republic 中国/中华") China (中国/中华)
option(value="Christmas Island" data-alternative-spellings="CX" data-relevancy-booster="0.5") Christmas Island
option(value="Cocos (Keeling) Islands" data-alternative-spellings="CC" data-relevancy-booster="0.5") Cocos (Keeling) Islands
option(value="Colombia" data-alternative-spellings="CO") Colombia
option(value="Comoros" data-alternative-spellings="KM جزر القمر") Comoros (جزر, القمر)
option(value="Congo" data-alternative-spellings="CG") Congo
option(value="Congo, the Democratic Republic of the" data-alternative-spellings="CD Congo-Brazzaville Repubilika ya Kongo") Congo, the Democratic Republic of the
option(value="Cook Islands" data-alternative-spellings="CK" data-relevancy-booster="0.5") Cook Islands
option(value="Costa Rica" data-alternative-spellings="CR") Costa Rica
option(value="Côte d'Ivoire" data-alternative-spellings="CI Cote dIvoire") Côte d'Ivoire
option(value="Croatia" data-alternative-spellings="HR Hrvatska") Croatia (Hrvatska)
option(value="Cuba" data-alternative-spellings="CU") Cuba
option(value="Curaçao" data-alternative-spellings="CW Curacao") Curaçao
option(value="Cyprus" data-alternative-spellings="CY Κύπρος Kýpros Kıbrıs") Cyprus (Κύπρος)
option(value="Czech Republic" data-alternative-spellings="CZ Česká Ceska" data-relevancy-booster="3.5") Czech Republic (Česká Republika)
option(value="Denmark" data-alternative-spellings="DK Danmark" data-relevancy-booster="1.5") Denmark
option(value="Djibouti" data-alternative-spellings="DJ جيبوتي‎ Jabuuti Gabuuti") Djibouti (جيبوتي‎)
option(value="Dominica" data-alternative-spellings="DM Dominique" data-relevancy-booster="0.5") Dominica
option(value="Dominican Republic" data-alternative-spellings="DO") Dominican Republic
option(value="Ecuador" data-alternative-spellings="EC") Ecuador
option(value="Egypt" data-alternative-spellings="EG" data-relevancy-booster="1.5") Egypt
option(value="El Salvador" data-alternative-spellings="SV") El Salvador
option(value="Equatorial Guinea" data-alternative-spellings="GQ") Equatorial Guinea
option(value="Eritrea" data-alternative-spellings="ER إرتريا ኤርትራ") Eritrea (إرتريا)
option(value="Estonia" data-alternative-spellings="EE Eesti") Estonia (Eesti)
option(value="Ethiopia" data-alternative-spellings="ET ኢትዮጵያ") Ethiopia (ኢትዮጵያ)
option(value="Falkland Islands (Malvinas)" data-alternative-spellings="FK" data-relevancy-booster="0.5") Falkland Islands (Malvinas)
option(value="Faroe Islands" data-alternative-spellings="FO Føroyar Færøerne" data-relevancy-booster="0.5") Faroe Islands (Føroyar)
option(value="Fiji" data-alternative-spellings="FJ Viti फ़िजी") Fiji (फ़िजी)
option(value="Finland" data-alternative-spellings="FI Suomi") Finland (Suomi)
option(value="France" data-alternative-spellings="FR République française" data-relevancy-booster="2.5") France (République française)
option(value="French Guiana" data-alternative-spellings="GF") French Guiana
option(value="French Polynesia" data-alternative-spellings="PF Polynésie française") French Polynesia (Polynésie française)
option(value="French Southern Territories" data-alternative-spellings="TF") French Southern Territories
option(value="Gabon" data-alternative-spellings="GA République Gabonaise") Gabon (République Gabonaise)
option(value="Gambia" data-alternative-spellings="GM") Gambia
option(value="Georgia" data-alternative-spellings="GE საქართველო") Georgia (საქართველო)
option(value="Germany" data-alternative-spellings="DE Bundesrepublik Deutschland" data-relevancy-booster="3") Germany (Bundesrepublik Deutschland)
option(value="Ghana" data-alternative-spellings="GH") Ghana
option(value="Gibraltar" data-alternative-spellings="GI" data-relevancy-booster="0.5") Gibraltar
option(value="Greece" data-alternative-spellings="GR Ελλάδα" data-relevancy-booster="1.5") Greece (Ελλάδα)
option(value="Greenland" data-alternative-spellings="GL grønland" data-relevancy-booster="0.5") Greenland (grønland)
option(value="Grenada" data-alternative-spellings="GD") Grenada
option(value="Guadeloupe" data-alternative-spellings="GP") Guadeloupe
option(value="Guam" data-alternative-spellings="GU") Guam
option(value="Guatemala" data-alternative-spellings="GT") Guatemala
option(value="Guernsey" data-alternative-spellings="GG" data-relevancy-booster="0.5") Guernsey
option(value="Guinea" data-alternative-spellings="GN") Guinea
option(value="Guinea-Bissau" data-alternative-spellings="GW") Guinea-Bissau
option(value="Guyana" data-alternative-spellings="GY") Guyana
option(value="Haiti" data-alternative-spellings="HT") Haiti
option(value="Heard Island and McDonald Islands" data-alternative-spellings="HM") Heard Island and McDonald Islands
option(value="Holy See (Vatican City State)" data-alternative-spellings="VA" data-relevancy-booster="0.5") Holy See (Vatican City State)
option(value="Honduras" data-alternative-spellings="HN") Honduras
option(value="Hong Kong" data-alternative-spellings="HK 香港") Hong Kong (香港)
option(value="Hungary" data-alternative-spellings="HU Magyarország") Hungary (Magyarország)
option(value="Iceland" data-alternative-spellings="IS Island") Iceland (Island)
option(value="India" data-alternative-spellings="IN भारत गणराज्य Hindustan" data-relevancy-booster="3") India (भारत, गणराज्य)
option(value="Indonesia" data-alternative-spellings="ID" data-relevancy-booster="2") Indonesia
option(value="Iran, Islamic Republic of" data-alternative-spellings="IR ایران") Iran (ایران), Islamic Republic of
option(value="Iraq" data-alternative-spellings="IQ العراق‎") Iraq (العراق‎)
option(value="Ireland" data-alternative-spellings="IE Éire" data-relevancy-booster="1.2") Ireland (Éire)
option(value="Isle of Man" data-alternative-spellings="IM" data-relevancy-booster="0.5") Isle of Man
option(value="Israel" data-alternative-spellings="IL إسرائيل ישראל") Israel (ישראל, إسرائيل)
option(value="Italy" data-alternative-spellings="IT Italia" data-relevancy-booster="2") Italy (Italia)
option(value="Jamaica" data-alternative-spellings="JM") Jamaica
option(value="Japan" data-alternative-spellings="JP Nippon Nihon 日本" data-relevancy-booster="2.5") Japan (日本, Nippon)
option(value="Jersey" data-alternative-spellings="JE" data-relevancy-booster="0.5") Jersey
option(value="Jordan" data-alternative-spellings="JO الأردن") Jordan (الأردن)
option(value="Kazakhstan" data-alternative-spellings="KZ Қазақстан Казахстан") Kazakhstan (Қазақстан)
option(value="Kenya" data-alternative-spellings="KE") Kenya
option(value="Kiribati" data-alternative-spellings="KI") Kiribati
option(value="Korea, Democratic People's Republic of" data-alternative-spellings="KP North Korea") Korea (North Korea), Democratic People's Republic of
option(value="Korea, Republic of" data-alternative-spellings="KR South Korea" data-relevancy-booster="1.5") Korea (South Korea), Republic of
option(value="Kuwait" data-alternative-spellings="KW الكويت") Kuwait (الكويت)
option(value="Kyrgyzstan" data-alternative-spellings="KG Кыргызстан") Kyrgyzstan (Кыргызстан)
option(value="Lao People's Democratic Republic" data-alternative-spellings="LA") Lao People's Democratic Republic
option(value="Latvia" data-alternative-spellings="LV Latvija") Latvia (Latvija)
option(value="Lebanon" data-alternative-spellings="LB لبنان") Lebanon (لبنان)
option(value="Lesotho" data-alternative-spellings="LS") Lesotho
option(value="Liberia" data-alternative-spellings="LR") Liberia
option(value="Libyan Arab Jamahiriya" data-alternative-spellings="LY ليبيا") Libyan Arab Jamahiriya (ليبيا)
option(value="Liechtenstein" data-alternative-spellings="LI") Liechtenstein
option(value="Lithuania" data-alternative-spellings="LT Lietuva") Lithuania (Lietuva)
option(value="Luxembourg" data-alternative-spellings="LU") Luxembourg
option(value="Macao" data-alternative-spellings="MO") Macao
option(value="Macedonia, The Former Yugoslav Republic Of" data-alternative-spellings="MK Македонија") Macedonia (Македонија), The Former Yugoslav Republic Of
option(value="Madagascar" data-alternative-spellings="MG Madagasikara") Madagascar (Madagasikara)
option(value="Malawi" data-alternative-spellings="MW") Malawi
option(value="Malaysia" data-alternative-spellings="MY") Malaysia
option(value="Maldives" data-alternative-spellings="MV") Maldives
option(value="Mali" data-alternative-spellings="ML") Mali
option(value="Malta" data-alternative-spellings="MT") Malta
option(value="Marshall Islands" data-alternative-spellings="MH" data-relevancy-booster="0.5") Marshall Islands
option(value="Martinique" data-alternative-spellings="MQ") Martinique
option(value="Mauritania" data-alternative-spellings="MR الموريتانية") Mauritania (الموريتانية)
option(value="Mauritius" data-alternative-spellings="MU") Mauritius
option(value="Mayotte" data-alternative-spellings="YT") Mayotte
option(value="Mexico" data-alternative-spellings="MX Mexicanos" data-relevancy-booster="1.5") Mexico (Mexicanos)
option(value="Micronesia, Federated States of" data-alternative-spellings="FM") Micronesia, Federated States of
option(value="Moldova, Republic of" data-alternative-spellings="MD") Moldova, Republic of
option(value="Monaco" data-alternative-spellings="MC") Monaco
option(value="Mongolia" data-alternative-spellings="MN Mongγol ulus Монгол улс") Mongolia (Mongγol)
option(value="Montenegro" data-alternative-spellings="ME") Montenegro
option(value="Montserrat" data-alternative-spellings="MS" data-relevancy-booster="0.5") Montserrat
option(value="Morocco" data-alternative-spellings="MA المغرب") Morocco (المغرب)
option(value="Mozambique" data-alternative-spellings="MZ Moçambique") Mozambique (Moçambique)
option(value="Myanmar" data-alternative-spellings="MM") Myanmar
option(value="Namibia" data-alternative-spellings="NA Namibië") Namibia (Namibië)
option(value="Nauru" data-alternative-spellings="NR Naoero" data-relevancy-booster="0.5") Nauru (Naoero)
option(value="Nepal" data-alternative-spellings="NP नेपाल") Nepal (नेपाल)
option(value="Netherlands" data-alternative-spellings="NL Holland Nederland" data-relevancy-booster="1.5") Netherlands (Holland)
option(value="New Caledonia" data-alternative-spellings="NC" data-relevancy-booster="0.5") New Caledonia
option(value="New Zealand" data-alternative-spellings="NZ Aotearoa") New Zealand (Aotearoa)
option(value="Nicaragua" data-alternative-spellings="NI") Nicaragua
option(value="Niger" data-alternative-spellings="NE Nijar") Niger (Nijar)
option(value="Nigeria" data-alternative-spellings="NG Nijeriya Naíjíríà" data-relevancy-booster="1.5") Nigeria (Nijeriya)
option(value="Niue" data-alternative-spellings="NU" data-relevancy-booster="0.5") Niue
option(value="Norfolk Island" data-alternative-spellings="NF" data-relevancy-booster="0.5") Norfolk Island
option(value="Northern Mariana Islands" data-alternative-spellings="MP" data-relevancy-booster="0.5") Northern Mariana Islands
option(value="Norway" data-alternative-spellings="NO Norge Noreg" data-relevancy-booster="1.5") Norway (Norge)
option(value="Oman" data-alternative-spellings="OM عمان") Oman (عمان)
option(value="Pakistan" data-alternative-spellings="PK پاکستان" data-relevancy-booster="2") Pakistan (پاکستان)
option(value="Palau" data-alternative-spellings="PW" data-relevancy-booster="0.5") Palau
option(value="Palestinian Territory, Occupied" data-alternative-spellings="PS فلسطين") Palestinian Territory (فلسطين), Occupied
option(value="Panama" data-alternative-spellings="PA") Panama
option(value="Papua New Guinea" data-alternative-spellings="PG") Papua New Guinea
option(value="Paraguay" data-alternative-spellings="PY") Paraguay
option(value="Peru" data-alternative-spellings="PE") Peru
option(value="Philippines" data-alternative-spellings="PH Pilipinas" data-relevancy-booster="1.5") Philippines
option(value="Pitcairn" data-alternative-spellings="PN" data-relevancy-booster="0.5") Pitcairn
option(value="Poland" data-alternative-spellings="PL Polska" data-relevancy-booster="2.5") Poland (Polska)
option(value="Portugal" data-alternative-spellings="PT Portuguesa" data-relevancy-booster="1.5") Portugal (Portuguesa)
option(value="Puerto Rico" data-alternative-spellings="PR") Puerto Rico
option(value="Qatar" data-alternative-spellings="QA قطر") Qatar (قطر)
option(value="Réunion" data-alternative-spellings="RE Reunion") Réunion
option(value="Romania" data-alternative-spellings="RO Rumania Roumania România") Romania (Rumania)
option(value="Russian Federation" data-alternative-spellings="RU Rossiya Российская Россия" data-relevancy-booster="2.5") Russian Federation (Россия)
option(value="Rwanda" data-alternative-spellings="RW") Rwanda
option(value="Saint Barthélemy" data-alternative-spellings="BL St. Barthelemy") Saint Barthélemy
option(value="Saint Helena" data-alternative-spellings="SH St.") Saint Helena
option(value="Saint Kitts and Nevis" data-alternative-spellings="KN St.") Saint Kitts and Nevis
option(value="Saint Lucia" data-alternative-spellings="LC St.") Saint Lucia
option(value="Saint Martin (French Part)" data-alternative-spellings="MF St.") Saint Martin (French Part)
option(value="Saint Pierre and Miquelon" data-alternative-spellings="PM St.") Saint Pierre and Miquelon
option(value="Saint Vincent and the Grenadines" data-alternative-spellings="VC St.") Saint Vincent and the Grenadines
option(value="Samoa" data-alternative-spellings="WS") Samoa
option(value="San Marino" data-alternative-spellings="SM RSM Repubblica") San Marino
option(value="Sao Tome and Principe" data-alternative-spellings="ST") Sao Tome and Principe
option(value="Saudi Arabia" data-alternative-spellings="SA السعودية") Saudi Arabia (السعودية)
option(value="Senegal" data-alternative-spellings="SN Sénégal") Senegal
option(value="Serbia" data-alternative-spellings="RS Србија Srbija") Serbia (Србија)
option(value="Seychelles" data-alternative-spellings="SC" data-relevancy-booster="0.5") Seychelles
option(value="Sierra Leone" data-alternative-spellings="SL") Sierra Leone
option(value="Singapore" data-alternative-spellings="SG Singapura  சிங்கப்பூர் குடியரசு 新加坡共和国") Singapore (சிங்கப்பூர், குடியரசு, 新加坡共和国)
option(value="Sint Maarten (Dutch Part)" data-alternative-spellings="SX") Sint Maarten (Dutch Part)
option(value="Slovakia" data-alternative-spellings="SK Slovenská Slovensko" data-relevancy-booster="3") Slovakia (Slovensko)
option(value="Slovenia" data-alternative-spellings="SI Slovenija") Slovenia
option(value="Solomon Islands" data-alternative-spellings="SB") Solomon Islands
option(value="Somalia" data-alternative-spellings="SO الصومال") Somalia (الصومال)
option(value="South Africa" data-alternative-spellings="ZA RSA Suid-Afrika") South Africa (Suid-Afrika)
option(value="South Georgia and the South Sandwich Islands" data-alternative-spellings="GS") South Georgia and the South Sandwich Islands
option(value="South Sudan" data-alternative-spellings="SS") South Sudan
option(value="Spain" data-alternative-spellings="ES España" data-relevancy-booster="2") Spain (España)
option(value="Sri Lanka" data-alternative-spellings="LK ශ්‍රී ලංකා இலங்கை Ceylon") Sri Lanka (இலங்கை, Ceylon)
option(value="Sudan" data-alternative-spellings="SD السودان") Sudan (السودان)
option(value="Suriname" data-alternative-spellings="SR शर्नम् Sarnam Sranangron") Suriname (शर्नम्)
option(value="Svalbard and Jan Mayen" data-alternative-spellings="SJ" data-relevancy-booster="0.5") Svalbard and Jan Mayen
option(value="Swaziland" data-alternative-spellings="SZ weSwatini Swatini Ngwane") Swaziland (Ngwane)
option(value="Sweden" data-alternative-spellings="SE Sverige" data-relevancy-booster="1.5") Sweden
option(value="Switzerland" data-alternative-spellings="CH Swiss Confederation Schweiz Suisse Svizzera Svizra" data-relevancy-booster="1.5") Switzerland (Suisse)
option(value="Syrian Arab Republic" data-alternative-spellings="SY Syria سورية") Syrian Arab Republic (سورية)
option(value="Taiwan, Province of China" data-alternative-spellings="TW 台灣 臺灣") Taiwan (台灣 臺灣), Province of China
option(value="Tajikistan" data-alternative-spellings="TJ Тоҷикистон Toçikiston") Tajikistan (Тоҷикистон)
option(value="Tanzania, United Republic of" data-alternative-spellings="TZ") Tanzania, United Republic of
option(value="Thailand" data-alternative-spellings="TH ประเทศไทย Prathet Thai") Thailand (ประเทศไทย)
option(value="Timor-Leste" data-alternative-spellings="TL") Timor-Leste
option(value="Togo" data-alternative-spellings="TG Togolese") Togo (Togolese)
option(value="Tokelau" data-alternative-spellings="TK" data-relevancy-booster="0.5") Tokelau
option(value="Tonga" data-alternative-spellings="TO") Tonga
option(value="Trinidad and Tobago" data-alternative-spellings="TT") Trinidad and Tobago
option(value="Tunisia" data-alternative-spellings="TN تونس") Tunisia (تونس)
option(value="Turkey" data-alternative-spellings="TR Türkiye Turkiye") Turkey (Türkiye)
option(value="Turkmenistan" data-alternative-spellings="TM Türkmenistan") Turkmenistan (Türkmenistan)
option(value="Turks and Caicos Islands" data-alternative-spellings="TC" data-relevancy-booster="0.5") Turks and Caicos Islands
option(value="Tuvalu" data-alternative-spellings="TV" data-relevancy-booster="0.5") Tuvalu
option(value="Uganda" data-alternative-spellings="UG") Uganda
option(value="Ukraine" data-alternative-spellings="UA Ukrayina Україна") Ukraine (Україна)
option(value="United Arab Emirates" data-alternative-spellings="AE UAE الإمارات") United Arab Emirates (الإمارات)
option(value="United Kingdom" data-alternative-spellings="GB Great Britain England UK Wales Scotland Northern Ireland" data-relevancy-booster="2.5") United Kingdom (Great Britain, England)
option(value="United States" data-relevancy-booster="2" data-alternative-spellings="US USA United States of America") United States
option(value="United States Minor Outlying Islands" data-alternative-spellings="UM") United States Minor Outlying Islands
option(value="Uruguay" data-alternative-spellings="UY") Uruguay
option(value="Uzbekistan" data-alternative-spellings="UZ Ўзбекистон O'zbekstan O‘zbekiston") Uzbekistan (Ўзбекистон)
option(value="Vanuatu" data-alternative-spellings="VU") Vanuatu
option(value="Venezuela" data-alternative-spellings="VE") Venezuela
option(value="Vietnam" data-alternative-spellings="VN Việt Nam" data-relevancy-booster="1.5") Vietnam (Việt Nam)
option(value="Virgin Islands, British" data-alternative-spellings="VG" data-relevancy-booster="0.5") Virgin Islands, British
option(value="Virgin Islands, U.S." data-alternative-spellings="VI" data-relevancy-booster="0.5") Virgin Islands, U.S.
option(value="Wallis and Futuna" data-alternative-spellings="WF" data-relevancy-booster="0.5") Wallis and Futuna
option(value="Western Sahara" data-alternative-spellings="EH لصحراء الغربية") Western Sahara (لصحراء الغربية)
option(value="Yemen" data-alternative-spellings="YE اليمن") Yemen (اليمن)
option(value="Zambia" data-alternative-spellings="ZM") Zambia
option(value="Zimbabwe" data-alternative-spellings="ZW") Zimbabwe